---
layout: default
title: The Apiary
---

<h6>{{ site.tagline }}</h6>

<div class="block-container">
	<div class="color-stripe">
		<h4>what we believe in &#x2192;</h4>
	</div>
	<div class="block-body">
		<p style="text-align:center"><em>{{ site.overview }}</em></p>
	</div>
</div>

<div class="block-container">
	<div class="color-stripe">
		<h4>what we're working on &#x2192;</h4>
	</div>
	<div class="block-body">
		<div class="item-collection-column">
			{% for project in site.projects %}
			<div class="item-block">
			<p><strong>{{ project.name }}</strong><br/>{{ project.summary }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="block-container">
	<div class="color-stripe">
		<h4>what we're writing &#x2192;</h4>
	</div>
	<div class="block-body">
		<ul class="posts">
		  {% for post in site.posts %}
			<div class="post-preview">
				<p>
				<a href="{{ post.url }}"><strong>{{ post.title }}</strong></a><br />
				<small>posted on <span>{{ post.date | date_to_string }}</span> by <strong>{{ post.author }}</strong></small><br/>
				{{ entry.content | strip_html | truncatewords: 20 }}
				<a href="{{ post.url }}">read more &raquo;</a>
				</p>
			</div>
		  {% endfor %}
		</ul>
	</div>
</div>

<div class="block-container">
	<div class="color-stripe">
		<h4>who we are &#x2192;</h4>
	</div>
	<div class="block-body">
		<div class="item-collection-column">
			{% for person in site.people %}
			<div class="item-block">
			<p><strong>{{ person.name }}</strong><br/>{{ person.summary }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="block-container">
	<div class="color-stripe">
			</div>
	</div>
</div>
