h1 {
    color:purple;
}

body {
    color:rgb(150,150,150);
    background-color:rgb(25,25,25);
    font-family: Futura, sans-serif;
    font-family: Helvetica, sans-serif;
}

#content {
    margin:5ex auto;
    max-width:100em;
}

#content h1 {
    color:purple;
}

#content img {
    margin-left:auto;
    margin-right:auto;
    width:30%;
}
