<!doctype html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

    <head>
        <title>The Apiary</title>
        {{ template "chrome/meta.html" . }}
        {{ template "chrome/includes.html" . }}

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

  <body>

    <div class="container">

        <h1 class="remove-bottom" style="margin-top: 40px">The Apiary</h1>
            <p><em>We make pretty things. And useful things. And silly things we find pretty or useful.</em></p>
        <hr/>

        <h4>what be believe in</h4>
        <p><em>insert impressive introduction here</em></p>
        <hr/>

        <h4>what we're working on</h4>
        <br/>

        <div class="four columns clearfix">
            <p>gitgraph</p></div>
        <div class="four columns clearfix">
            <p>The Beast</p></div>
        <div class="four columns clearfix">
            <p>Ordinary</p></div>
        <div class="four columns clearfix">
            <p>LightSkate</p></div>

        <hr/>

        <h4>the team</h4>
        <br/>

        <div class= "four columns clearfix">
            <p>Tim Honeywell</p></div>
        <div class= "four columns clearfix">
            <p>Glen Oakley</p></div>
        <div class= "four columns clearfix">
            <p>Nick Vitovitch</p></div>
        <div class= "four columns clearfix">
            <p>Bobby Canciello</p></div>
        <div class= "four columns clearfix">
            <p>Liz Gerger</p></div>
        <div class= "four columns clearfix">
            <p>Steve Boyland</p></div>
        <div class= "four columns clearfix">
            <p>Teddy Sudol</p></div>
        <div class= "four columns clearfix">
            <p>Martin Bayer</p></div>
        <div class= "four columns clearfix">
            <p>Alexa Cain</p></div>
        <div class= "four columns clearfix">
            <p>Michael Gruber</p></div>
        <div class= "four columns clearfix">
            <p>Kyle McCabe</p></div>
        <div class= "four columns clearfix">
            <p>Andrew Lilja</p></div>

        <hr/>

        <h4>what we're writing</h4>
        <br/>

{{ template "chrome/footer.html" }}
